/*--------------------------------------------------------------------------------------------
Project Name - Portfolio site of Christos Tsakmakis
DATE         - August 17, 2015
AUTHOR       - Christos Tsakmakis
--------------------------------------------------------------------------------------------*/

body {
	background: #f9f8f4 none repeat scroll 0 0;
    color: #a09a90;
    font-family: helvetica,arial,sans-serif;
    font-weight: normal;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    transition: all 0.6s ease 0s;
  	-moz-transition: all 0.6s ease 0s; /* Firefox 4 */
  	-webkit-transition: all 0.6s ease 0s; /* Safari and Chrome */
  	-o-transition: all 0.6s ease 0s; /* Opera */
}


/* Banner */
.wrap-banner {
    background: #f9f8f4 none repeat scroll 0 0 !important;
    border-bottom: 1px solid #d4d0cb;
    color: #51493d;
    display: block;
    max-width: 100%;
    overflow: hidden;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 20;
	/*top: 0;
	left: 0;
	right: 0;
	http://salomvary.github.io/position-fixed-horizontally-centered.html
	*/
}

.wrap-banner .columns {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    transition: all 0.6s ease 0s;
  	-moz-transition: all 0.6s ease 0s; /* Firefox 4 */
  	-webkit-transition: all 0.6s ease 0s; /* Safari and Chrome */
  	-o-transition: all 0.6s ease 0s; /* Opera */
}

.fixed .columns {
    height: auto;
    margin: 0.15em 0;
}

/* Banner Logo */
.logo-site {
    
}

.logo-site a {
    display: inline-block;
}

.logo-site a span {
	color: #51493d;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 1.25rem;
    letter-spacing: -0.02rem;
    line-height: 1;
    margin-top: 1.52rem;
    position: absolute;
}

.logo-site img {
    transform: rotate(-135deg);
    margin-right: 1.2rem;
}

@keyframes fadeInDown {
	0% {
	    opacity: 0;
	    transform: translate3d(0px, -100%, 0px);
	}
	100% {
	    opacity: 1;
	    transform: none;
	}
}

.fadeInDown {
    animation-name: fadeInDown;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}



/* Banner Navigation Bar */

.nav-bar {
    float: right;
	font-family: "Montserrat",sans-serif;
    font-size: 1rem;
    padding: 12px 10px 0;
}

.nav-bar .button {
	font-weight: 600;
    margin: 0;
    /*padding: 1.5rem 2rem 1.0625rem 0;*/
}

button, .button {
	background: #f9f8f4 none repeat scroll 0 0;
    color: #a2a2a2;
}

button:hover, button:focus, .button:hover, .button:focus {
	background: #f9f8f4  none repeat scroll 0 0;
    color: #008cba;
}

.button-group > li > button, .button-group > li .button {
    border-left: 0 none;
}




/* Masthead */
.wrap-masthead {
	background: rgba(0, 0, 0, 0) url("") no-repeat scroll center center / cover ;
	/*background: rgba(0, 0, 0, 0) url("../img/bg-masthead.png") no-repeat scroll center center / cover ;*/
    /*margin: 7.6em auto 0 auto;*/
    max-width: 100%;
    padding: 7.6em 60px 1rem 60px;
    text-align: center;
}

.wrap-masthead h1 {
    color: #51493d;
    font-size: 2.00rem;
    font-weight: bold;
    letter-spacing: 0.0875em;
    padding-bottom: 30px;
    padding-top: 20px;
    text-shadow: 1px 1px 1px #000;
}

/* About */
.wrap-about {
	padding: 2rem 0;
	text-align: center;
}

/*.wrap-about img {
	border-radius: 80px;
}*/

/* Work */
.wrap-work {
	padding: 2rem 0;
	text-align: center;
}

/* Contact */
.wrap-contact {
	padding: 2rem 0;
	text-align: center;
}


/* Footer */

footer.row {
    background: #212121 none repeat scroll 0 0;
    max-width: 100%;
    padding: 20px 0;
}

.copyright p {
	font-size: 0.6rem;
}


/* Fonts */

.size-36 {
    font-size: 36px;
}